:root {
    --primary: #150135;
    --secondary: #6c2bad;
    --secondary-hover: #3c7aca;
    --pink: #ff00fc;
}

nav, footer {
    background-color: var(--primary);
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: var(--secondary);
}

.btn-primary {
    background-color: var(--secondary);
    color: white;
    border-color: transparent;
}

.bg-primary:hover {
    background-color: var(--secondary-hover);
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.bg-img {
    background-image: url(../images/bernd-dittrich-qdW16y9SLDo-unsplash.jpg);
    min-height: 90vh;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(var(--primary), #6c2bad4d, var(--primary)), radial-gradient(circle 700px at 20% 30%, rgba(255, 0, 179, 0.445), transparent), radial-gradient(circle 500px at 80% 70%, rgba(255, 0, 179, 0.445), transparent);
    /*background-blend-mode: overlay;
    background-color: rgba(0, 0, 0.461);*/
}

body {
    background-color: var(--primary);
}

.bg-translucent {
    background-color: #00000063;
}

textarea {
    resize: none;
}

form a {
    text-decoration: none;
    color: white;
    transition: 0.2 ease-in-out;
}

form a:hover {
    color: var(--secondary);
}